.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") 网站首页
    if user
      a.navbar-brand(href="/user/index") 用户导航页
      p.navbar-text.navbar-right
        span
          a.navbar-link(href="/user/myinfo") #{user.name}
        span &nbsp;|&nbsp;
        a.navbar-link(href="/user/logout") 登出
    else
      p.navbar-text.navbar-right
        a.navbar-link(href="/user/signup") 注册
        span &nbsp;|&nbsp;
        button.btn.btn-primary(href="#", data-toggle="modal", data-target="#signinModal") 登录
.container
  .row
    .page-header
      h1 #{title}
#signinModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/user/signin")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(name="name", type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signupPassword.form-control(name="password", type="password")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 登录