extend ../layout

block content
  .container
    div
      a(target="_blank", href="/list") 查看最近十个记录
    div
      a(target="_blank", href="/invoices") 查看十个发票情况
    div
      a(target="_blank", href="/balance") 查看汇总情况