extend ../layout

block content
	.container
		a(target="_blank", href="/add") 添加新的记录
		br
		a(target="_blank", href="/list") 查看最近十个记录
		br
		a(target="_blank", href="/invoice/add") 添加发票情况
		br
		a(target="_blank", href="/invoices") 查看发票情况