extend ../../layout

block content
  .container
    a(target="_blank", href="/add") 添加新的记录
    br
    a(target="_blank", href="/list") 查看最近十个记录
    br
    a(target="_blank", href="/invoice/add") 添加发票情况
    br
    a(target="_blank", href="/invoices") 查看发票情况
    br
    br
    br
    a(target="_blank", href="/all") 查看所有记录
    br
    a.bg-danger(target="_blank", href="/admin/records") 管理所有记录
    br
    a.bg-danger(target="_blank", href="/admin/invoices") 管理所有发票
    br