extend ../../layout

block content
  .container
    //- 关于user.role信息请查看schemas/user.js
    if user.role == 0
        p 请让管理员修改你的权限后刷新此页面。
    if user.role >= 1
        .col-sm-6
            h3 记录
            a.btn.btn-default(href="/add", ) 
                span.glyphicon.glyphicon-plus 
                |  添加新的记录
            br
            br
            a.btn.btn-default(href="/record/my") 
                span.glyphicon.glyphicon-user
                |  与我相关的记录
            br
            br
            a.btn.btn-default(href="/all") 
                span.glyphicon.glyphicon-eye-open
                |  查看所有记录
            br
            if user.role >= 5 
                br
                a.btn.btn-danger(href="/admin/records") 
                    span.glyphicon.glyphicon-cog
                    |  管理所有记录
                br
                br
                a.btn.btn-default(href="/admin/jiesuan") 
                    span.glyphicon.glyphicon-cog
                    |  结算
                br
                br
                a.btn.btn-default(href="/admin/addincome") 
                    span.glyphicon.glyphicon-cog
                    |  修改总收入
                br
                br
                a.btn.btn-default(href="/balance") 
                    span.glyphicon.glyphicon-cog
                    |  查看汇总情况
    if user.role >= 1
        .col-sm-6
            h3 发票
            a.btn.btn-default(href="/invoice/add") 
                span.glyphicon.glyphicon-plus
                |  添加发票情况
            br
            br
            a.btn.btn-default(href="/invoice/my") 
                span.glyphicon.glyphicon-user
                |  与我相关的发票
            br
            br
            a.btn.btn-default(href="/invoice/all") 
                span.glyphicon.glyphicon-eye-open
                |  查看所有发票情况
            br
            if user.role >= 5 
                br
                a.btn.btn-danger(href="/admin/invoices") 
                    span.glyphicon.glyphicon-cog
                    |  管理所有发票
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
    if user.role >= 10
        .col-sm-6
            br
            br
            a.btn.btn-danger(href="/user/admin") 
                span.glyphicon.glyphicon-user
                |  管理所有用户       
