extend ../../layout

block content
  .container
    .row
      .col-sm-3
      .col-sm-5
        h2.text-center 登录
        form(method="POST", action="/user/signin")
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(name="name", type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="password", type="password")
          button.btn.btn-primary(type="submit") 登录