extend ../../layout

block content
  .container
    .row
      .col-sm-5
        form(method="POST", action="/user/signup")
          .modal-body
            .form-group
              label(for="signupName") 用户名
              input#signupName.form-control(name="name", type="text")
            .form-group
              label(for="signupPassword") 密码
              input#signupPassword.form-control(name="password", type="password")
          .modal-footer
            button.btn.btn-success(type="submit") 注册